* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(to right, #cabfdf, #5d5875);
}

.contenedor {
  margin-top: 0px;
  display: flex;
  background: linear-gradient(to right, #cabfdf, #5d5875);
  padding: 40px;
  height: 400px;
}
.container {
  width: 100vw;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background: linear-gradient(to right, #cabfdf, #5d5875);
  font-size: 0.8rem;
}

.brand {
  width: 40%;
  color: #080808;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}



.logo {
  max-width:85rem;
  height: 10px;
  width: 10px;
}
.nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  align-items: end;
}

.nav-list li a {
  text-decoration: none;
  color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

.logo {
  width: 12rem;
  height: 6rem;
  margin: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

img {
  width: 400px;
  height: 400px;
}

.text {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-left: 15px;
  margin-left: 0px;
}

h1 {
  margin-left: 0px;
  margin: 50px;
  margin-bottom: 0px;
  height: 8.25rem;
  text-align: center;
  background: linear-gradient(to right, #972872, #0208c3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 2.5rem;
}

.iconos img {
  margin-left: 100px;
  margin-top: 20px;
  width: 80px;
  height: 80px;
}

.iconos {
  display: inline-flex;
}

.img {
  text-align: center;
  margin-left: 0px;
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #1b54c7;
}

span {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  width: 50px;
  height: 50px;
}

.iconos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  background: linear-gradient(to right, #cabfdf, #5d5875);
}
.box {
  height: 12.5rem;
}
.iso33000 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.title {
  background: linear-gradient(to right, #cabfdf, #5d5875);
}

.subtitulo {
  color: #1073ba;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.texto {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

.box {
  margin-left: 10%;
  height: 12.5rem;
}
.box a {
  display: inline-block;
  background-color: #77787a;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 25px;
  border: 2px solid #070707fe;
  margin: 10px;
}

.iso25000 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.hgarantia {
  color: #1073ba;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.soni {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.box {
  margin-left: 10%;
  height: 12.5rem;
}
.iso27001 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.hbateria {
  color: #1073ba;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.soni {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.iconos .box {
  height: 30rem;
  width: 20rem;
  background: #c3c3be;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 5rem rgb(129, 129, 219);
  margin: 3rem;
}

.contenedor2 {
  text-align: center;
  background: linear-gradient(to right, #cabfdf, #5d5875);
  width: 100%;
  height: 26.344rem;
  display: flex;
}

.titu {
  color: #0e0d0d;
  margin-top: 60px;
  margin-right: 10px;
  padding-top: 20px;
  padding-left: 15px;
  text-align: left;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 34px;
  width: 100%;
  height: 5rem;
}

.sobre {
  margin-left: 5%;
  width: 25rem;
}

.textsobre {
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  flex-wrap: wrap;
  text-align: left;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 7px;
  margin-right: 0px;
  width: 31.25rem;
  color: #0f0f0f;
}

.modelo {
  margin-left: 0px;
  margin-top: 30px;
  padding-left: 15%;
  width: 700px;
  height: 350px;
}

.tituelige {
  margin-left: 0px;
  margin: 30px;
  margin-bottom: 0px;
  height: 8.25rem;
  text-align: center;
  background: linear-gradient(to right, #972872, #0208c3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 2.5rem;
  background: linear-gradient(to right, #cabfdf, #5d5875);
}

.x_y {
  display: flex;
  flex-direction: column;
}
.contene {
  width: 500px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 170px;
  border-radius: 1rem;
  text-align: center;
  margin: right;
  margin-bottom: 75px;
  float: left;
  margin-left: 19%;
}

.contene figure {
  margin-top: 4.25rem;
  margin-bottom: 0px;
  position: relative;
  height: 200px;
  width: 500px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.contene figure img {
  width: 100%;
  height: 90%;
  transition: all 500ms ease-out;
  margin: 10px;
}

.contene figure .capa {
  position: absolute;
  top: 0;
  width: 600px;
  height: 100%;
  background: rgba(11, 103, 123, 0.6);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.contene figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.contene figure:hover > img {
  transform: scale(1.3);
}

.capa h1 {
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 50px;
}

.contene2 {
  width: 500px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 170px;
  border-radius: 40px;
  text-align: center;
  margin: right;
  float: left;
  margin-left: 19%;
  background: linear-gradient(to right, #cabfdf, #5d5875);
}
.contene2 figure {
  margin-top: 4.25rem;
  margin-bottom: 0px;
  position: relative;
  height: 200px;
  width: 500px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.contene2 figure .capa2 {
  position: absolute;
  top: 0;
  width: 600px;
  height: 100%;
  background: rgba(11, 103, 123, 0.6);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.contene2 figure:hover > .capa2 {
  opacity: 1;
  visibility: visible;
}

.contene2 figure:hover > img {
  transform: scale(1.3);
}

.capa2 h1 {
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 50px;
}

.botones {
  display: flex;
  flex-direction: row;
  margin: 10px;
  background: linear-gradient(to right, #cabfdf, #5d5875);
}

.contene3 {
  width: 500px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  height: 420px;
  border-radius: 1rem;
  text-align: center;
  margin: right;
  float: left;
  margin-left: 10rem;
  padding-left: 10rem;
}
.video iframe {
  width: 900px;
  height: 400px;
}

.capa3 h1 {
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  flex-wrap: wrap;
  text-align: left;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 7px;
  margin-right: 0px;
  width: 25.25rem;
  color: #0f0f0f;
  font-size: 1rem;
}
.precio_z {
  margin-top: 150px;
  color: rgba(16, 115, 186);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 50px;
}

.final {
  display: flex;
  margin-top: 16px;
}

.fot {
  width: 80rem;
  height: 20rem;
  margin: 1rem;
}

.fin {
  padding-left: 1.875rem;
}

.textactua {
  font-size: 1.875rem;
  padding-top: 25%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 31.25rem;
}

.letras {
  width: 31.25rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

input {
  width: 30rem;
  height: 1.875rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h2 {
  margin-bottom: 3rem;
  font-size: 3rem;
  color: #121111;
  text-align: center;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 0.6rem;
  font-size: 0.6rem;
  color: #494948;
  background-color: #353333;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contact form .input-box input {
  width: 15rem;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 3rem;
  cursor: pointer;
}

.btn {
  display: flex;
  padding: 1rem 1rem;
  background: #4b4a4b;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 1rem #9ba9b8;
  font-size: 1rem;
  color: #faf5f5;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  cursor: pointer;
  margin-top: 1rem;
  list-style: none;
}

.btn:hover {
  background-color: #9ba9b8;
  box-shadow: none;
}

h3 {
  padding-top: 1.875rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #1073ba;
  text-align: center;
  padding-bottom: 1.875rem;
}
