@media (min-width: 350px) and (max-width: 480px) {
  body {
    width: 600px;
    max-width: 100%;
    background: linear-gradient(to right, #cabfdf, #5d5875);
  }

  .contenedor {
    flex-direction: column;
    height: 900px;
    background: linear-gradient(to right, #cabfdf, #5d5875);
  }
  .container {
    width: 100vw;
    height: auto;
  }
  .contenedor img {
    max-width: 300px;
    height: 300px;
  }

  .contenedor2 {
    background: linear-gradient(to right, #cabfdf, #5d5875);
    width: 100%;
    height: 675px;
    display: flex;
    flex-direction: column;
  }

  .textsobre {
    padding-left: 0;
    float: left;
    width: 330px;
  }

  .modelo {
    margin-top: 500px;
    float: left;
    width: 200px;
    height: 222px;
    padding-left: 0px;
    margin-top: 0px;
    width: 350px;
  }

  .tituelige {
    margin-left: 0px;
    margin: 30px;
    margin-bottom: 0px;
    height: 8.25rem;
    text-align: center;
    background: linear-gradient(to right, #972872, #0208c3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 2.5rem;
    background: linear-gradient(to right, #cabfdf, #5d5875);
  }
  .titu {
    color: #0e0d0d;
    margin-top: 60px;
    margin-right: 10px;
    padding-top: 20px;
    padding-left: 15px;
    text-align: left;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 34px;
    width: 100%;
    height: 5rem;
  }

  .botones {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
  }

  .x_y {
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    width: 50px;
    height: 80px;
  }

  .final {
    display: flex;
    margin-top: 30px;
    width: 100px;
    height: 100px;
  }

  .fot {
    margin-top: 30px;
    width: 600px;
    height: 300px;
  }
  .h1 {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 19rem;
    height: 6.25rem;
    text-align: center;
    background: linear-gradient(to right, #284d97, #0208c3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 2rem;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background: linear-gradient(to right, #cabfdf, #5d5875);
    font-size: 1.5rem;
  }

  .brand {
    width: 40%;
    color: #080808;
  }

  .menu-content {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    padding: 1%;
  }

  .menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }

  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  .logo {
    width: 100%;
    margin: 1.1rem;
    font-size: 1.5rem;

    text-align: center;
  }
  .menu > li > a {
    text-decoration: none;
    color: #070707;
    width: 5rem;
    border-radius: 30px;
    padding: -0.5rem;
    margin: 0.5rem;
  }

  .contene3 {
    width: 1rem;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    height: 420px;
    border-radius: 1rem;
    text-align: center;
    margin: right;
    float: left;
    margin-left: -10rem;
    color: #972872;
  }
  .contene3 video {
    margin-top: 4.25rem;
    margin-bottom: 0px;
    position: relative;
    height: 600px;
    width: 500px;
    background-color: rgba(16, 115, 186);
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    width: 25rem;
    height: 25rem;
  }

  .video iframe {
    width: 20rem;
    height: 20rem;
  }

  .capa3 h1 {
    display: flex;
    justify-content: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 7px;
    margin-right: 0px;
    width: 25.25rem;
    color: #0f0f0f;
    font-size: 1rem;
  }
  .precio_z {
    margin-top: 150px;
    color: rgba(16, 115, 186);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-left: 50px;
  }

  .title {
    background: linear-gradient(to right, #cabfdf, #5d5875);
  }

  .contact {
    padding: 20px;
  }

  .heading {
    font-size: 22px;
    text-align: center;
  }

  .input-box input,
  .input-box textarea {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
  }

  .input-box input:focus,
  .input-box textarea:focus {
    outline: none;
    border: 2px solid #007bff;
  }

  textarea {
    height: 150px;
    resize: none;
  }

  .btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #eee8e8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .container-navbar {
    padding: 10px;
  }

  .brand {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 80px;
  }
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: #1c1c1c;
  }

  .cerrar-menu {
    color: #ececec;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
    color: #ecececec;
  }
}
/* ________________________________________________________________________________________________ */

@media (min-width: 481px) and (max-width: 768px) {
  body {
    width: 600px;
    max-width: 100%;
    background: linear-gradient(to right, #cabfdf, #5d5875);
  }
  .contenedor {
    flex-direction: column;
    height: 900px;
    background: linear-gradient(to right, #cabfdf, #5d5875);
  }
  .container {
    width: 100vw;
    height: auto;
  }
  .contenedor img {
    max-width: 300px;
    height: 300px;
  }

  .contenedor2 {
    background: linear-gradient(to right, #dad8e0, #c3c3be);
    width: 100%;
    height: 675px;
    display: flex;
    flex-direction: column;
  }

  .textsobre {
    padding-left: 0;
    float: left;
    width: 330px;
  }

  .modelo {
    margin-top: 500px;
    float: left;
    width: 200px;
    height: 222px;
    padding-left: 0px;
    margin-top: 0px;
    width: 350px;
  }

  .tituelige {
    margin-left: 0px;
    margin: 30px;
    margin-bottom: 0px;
    height: 8.25rem;
    text-align: center;
    background: linear-gradient(to right, #972872, #0208c3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 2.5rem;
    background: linear-gradient(to right, #cabfdf, #5d5875);
  }
  .titu {
    color: #0e0d0d;
    margin-top: 60px;
    margin-right: 10px;
    padding-top: 20px;
    padding-left: 15px;
    text-align: left;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 34px;
    width: 100%;
    height: 5rem;
  }

  .botones {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
  }

  .x_y {
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    width: 50px;
    height: 80px;
  }

  .final {
    display: flex;
    margin-top: 30px;
    width: 100px;
    height: 100px;
  }

  .fot {
    margin-top: 30px;
    width: 600px;
    height: 300px;
  }
  .h1 {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 19rem;
    height: 6.25rem;
    text-align: center;
    background: linear-gradient(to right, #284d97, #0208c3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 2rem;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background: linear-gradient(to right, #cabfdf, #5d5875);
    font-size: 1.5rem;
  }

  .brand {
    width: 40%;
    color: #080808;
  }

  .menu-content {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    padding: 1%;
  }

  .menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }

  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  .logo {
    width: 100%;
    margin: 1.1rem;
    font-size: 1.5rem;

    text-align: center;
  }
  .menu > li > a {
    text-decoration: none;
    color: #070707;
    width: 5rem;
    border-radius: 30px;
    padding: -0.5rem;
    margin: 0.5rem;
  }

  .contene3 {
    width: 1rem;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    height: 420px;
    border-radius: 1rem;
    text-align: center;
    margin: right;
    float: left;
    margin-left: 7%;
  }
  .contene3 figure {
    margin-top: 4.25rem;
    margin-bottom: 0px;
    position: relative;
    height: 600px;
    width: 500px;
    background-color: #1073ba;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  .video iframe {
    width: 100%;
    height: 100%;
  }

  .contene3 figure .capa3 {
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: visible;
    text-align: center;
  }

  .contene3 figure:hover > .capa3 {
    opacity: 1;
    visibility: visible;
  }

  .contene3 figure:hover > img {
    transform: scale(1.3);
  }

  .capa3 h1 {
    display: flex;
    justify-content: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 7px;
    margin-right: 0px;
    width: 25.25rem;
    color: #0f0f0f;
    font-size: 1rem;
  }
  .precio_z {
    margin-top: 150px;
    color: rgba(16, 115, 186);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-left: 50px;
  }
  .title {
    background: linear-gradient(to right, #cabfdf, #5d5875);
  }
  .fot {
    width: 20rem;
    height: 20rem;
    margin: 1rem;
  }

  .contact {
    padding: 20px;
  }

  .heading {
    font-size: 22px;
    text-align: center;
  }

  .input-box input,
  .input-box textarea {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
  }

  .input-box input:focus,
  .input-box textarea:focus {
    outline: none;
    border: 2px solid #007bff;
  }

  textarea {
    height: 150px;
    resize: none;
  }

  .btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .container-navbar {
    padding: 10px;
  }

  .brand {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 80px;
  }

  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: #1c1c1c;
  }

  .cerrar-menu {
    color: #ececec;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
    color: #ecececec;
  }
}

